body{
    background-color:beige;
}
b{
  color:magenta; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-style: oblique;
}
h3{
    color:aqua; font-family: monospace; font-size:xx-large; font-weight: 500; text-align:center;
}
p{
    background-color:skyblue; color:black; font-size:medium; font-family:'Times New Roman', Times, serif;
}
ol{
    background-color: blue; color: antiquewhite;
}
li{
color:antiquewhite; 
background-color: blue;
font-family:'Courier New', Courier, monospace;
font-style: italic;
}